body{
    background-color: rgba(237, 239, 247, 1);
    user-select: none;
}
div.mpart{
    margin-left: 7%;
    width: 91%;
}
div.search{
    margin-top: 1.8%;
    height: 50px;
}
#sel{
    padding: 0;
    height: 100%;
    width: 38%;
    color: rgba(166, 166, 166, 1);
    font-size: 20px;
    line-height: 50px;
    text-indent: 14%;
}
#sel span.arrow{
    position: absolute;
    top: 50px;
    left: 44px;
    width: 90px;
    height: 40px;
    background-image: url(../img/personalicons.png);
    background-position: 670px -40px;
    zoom: 36%;
    transform: rotate(0);
    transition: transform 0.3s ease;
}
div.list{
    margin-top: 20px;
    position: relative;
    overflow: auto;
    z-index: 1500;
    height: fit-content;
    max-height: 0;
    width: 38%;
    border-radius: 20px;
    background-color:white;
    transition: all 0.3s ease;
}
div.list::-webkit-scrollbar {
    width: 10px;
}

div.list::-webkit-scrollbar-track{
    background-color: rgba(194, 194, 194, 0.3);
    border-radius: 10px;
}

div.list::-webkit-scrollbar-thumb {
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
div.list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 20px;
}
div.list li{
    font-family: 幼圆;
    line-height: 40px;
    height: 40px;
    transition: all 0.3s ease;
}
div.list li:hover{
    background-color:rgba(194, 194, 194, 0.3);
}
#sel option{
    border-radius: 5px;
    /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
    /* background: rgba(0, 0, 0, 0.2); */
    border-radius: 20px;
}
div.contentA{
    position: relative;
    margin-top: 2.8%;
    height: 372px;
}
div.contentB{
    position: relative;
    margin-top: 2.4%;
    height: 248px;
}
.flo{
    position: relative;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:2px 2px 3px 0 #a7a7a7b9;
    transition: all 0.3s ease;
}
.flo:hover{
    transform: scale(1.03,1.03);
    box-shadow: 0 10px 20px 0 #a7a7a7b9;
}
span.tag{
    position: absolute;
    height: 50px;
    width: 130px;
    border-bottom-right-radius: 80px;
    background: linear-gradient(180deg, rgba(194, 233, 251, 1) 0%,rgba(161, 196, 253, 1)  100%);
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 8px;
}
div.body{
    display: inline-block;
    width: 38%;
    height: 100%;
}
div.arr{
    display: inline-block;
    position: absolute;
    right: 0;
    width: 58%;
    height: 100%;
}
div.pre{
    display: inline-block;
    width: 38%;
    height: 100%;
}
div.pre div.graph{
    position: absolute;
    top: 26px;
    left: 4%;
    width: 92%;
    height: 100%;
}
div.choose{
    position: relative;
    float: right;
    z-index: 1000;
    padding: 0;
    margin-top: 14px;
    margin-right: 14%;
    height: fit-content;
    max-height: 34px;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(237, 239, 247, 1);
    color: rgba(166, 166, 166, 0.603);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 34px;
    text-indent: 14%;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
div.choose .text{
    margin-right: 56px;
}
div.choose span.arrow{
    position: absolute;
    top: 58px;
    right: 26px;
    width: 90px;
    height: 40px;
    background-image: url(../img/personalicons.png);
    background-position: 670px -40px;
    zoom: 24%;
    transform: rotate(0);
    transition: transform 0.3s ease;
}
div.choose ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    text-indent: 0;
}
div.choose li{
    font-size: small;
    font-weight: 100;
    color: rgba(139, 139, 139, 0.925);
    transition: all 0.3s ease;
}
div.choose li:hover{
    background-color: rgba(194, 194, 194, 0.3);
}
div.acthb{
    display: inline-block;
    position: absolute;
    right: 0;
    width: 58%;
    height: 100%;
}
div.act{
    display: inline-block;
    width: 42%;
    height: 100%;
}
div.hb{
    display: inline-block;
    position: absolute;
    right: 0;
    width: 52%;
    height: 100%;
    background: linear-gradient(180deg, rgba(111, 204, 247, 1) 0%,rgba(161, 196, 253, 1)  100%);
}
div.hb span.hbtag{
    position: absolute;
    top: 26px;
    left: 46px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 黑体;
}
div.hb div.data{
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-image: url(../img/personalicons.png);
    background-position: -180px 0;
    background-size: 1260px 700px;
}
div.data div{
    position: absolute;
    bottom: -20px;
    left: 30px;
    transition: transform 0.3s ease;
}
div.data div:hover{
    transform: scale(1.1,1.1);
}
div.data span.num{
    color: white;
    font-size: 46px;
    font-weight: bold;
    margin-right: 24px;
}
div.data span.bpm{
    color: rgba(255, 252, 252, 0.62);
    font-weight: bold;
}